Repository ChurchCRM/CRM, pull requests merged in 2023-12, with the labels that each got.

#6735 [Snyk] Upgrade i18next from 23.7.1 to 23.7.3
  package-lock.json
  package.json
Labels: Package Dependencies

#6753 fix select2 on PledgeEditor
  src/PledgeEditor.php
Labels: bug, Feature: Financial, javascript

#6758 [Snyk] Upgrade @fortawesome/fontawesome-free from 6.4.2 to 6.5.0
  package-lock.json
  package.json
Labels: Package Dependencies

#6760 [Snyk] Upgrade react-datepicker from 4.23.0 to 4.24.0
  package-lock.json
  package.json
Labels: Package Dependencies

#6762 Fix dashboard birthdays and address various minor code smells
  src/ChurchCRM/Backup/BackupDownloader.php
  src/ChurchCRM/Backup/BackupJob.php
  src/ChurchCRM/model/ChurchCRM/Person.php
  src/ChurchCRM/utils/MiscUtils.php
  src/api/routes/people/people-persons.php
  src/composer.json
  src/composer.lock
Labels: bug, Code Smell, php

#6764 add more minor code smell
  src/Reports/AdvancedDeposit.php
  src/api/routes/people/people-groups.php
  src/api/routes/public/public-calendar.php
  src/api/routes/system/system.php
  src/rector.php
Labels: Code Smell, php

#6766 make sure dashed lines aren't selectable
  src/CSVImport.php
  src/FamilyEditor.php
  src/GroupEditor.php
  src/Include/Functions.php
  src/PersonEditor.php
Labels: php

#6769 allow minimal person data to be entered
  cypress/e2e/ui/people/standard.person.new.spec.js
  src/Include/Functions.php
Labels: bug, Feature: Users, php

#6767 fix various errors when interacting with 'cart'
  src/CartToEvent.php
  src/CartToFamily.php
  src/ChurchCRM/dto/Cart.php
Labels: bug, Feature: Cart, php

#6774 [slim-upgrade] fix kiosk url so works as well as it did before
  src/KioskManager.php
  src/api/routes/kiosks.php
  src/kiosk/routes/kiosk.php
Labels: javascript, php

#6778 add ids to anchors, write some test for profile page
  cypress/e2e/ui/people/standard.person.profile.spec.js
  src/PersonView.php
Labels: Integration Testing, javascript, php

#6780 rename cypress specs with typos
  cypress/e2e/ui/finance/finance.deposits.spec.js
  cypress/e2e/ui/main.dashboard.spec.js
Labels: Integration Testing

#6783 fix error on QuerySQL being thrown on webui
  src/QuerySQL.php
Labels: bug, php

#6786 fix some issues in the finance/deposit routes
  src/ChurchCRM/utils/LoggerUtils.php
  src/FindDepositSlip.php
  src/Include/slim/error-handler.php
  src/api/dependencies.php
  src/api/index.php
  src/api/routes/finance/finance-deposits.php
  src/composer.json
  src/composer.lock
  src/external/index.php
  src/kiosk/index.php
  src/kiosk/routes/kiosk.php
  src/session/index.php
  src/skin/js/FindDepositSlip.js
  src/v2/index.php
Labels: Feature: Financial, javascript, php

#6787 fix deposit slip generation
  src/ChurchCRM/Service/FinancialService.php
  src/ChurchCRM/model/ChurchCRM/Deposit.php
Labels: bug, Feature: Financial, php

#6788 5.4.1 Bug fixes
  CHANGELOG.md
  scripts/startNewRelease.js
  src/ChurchCRM/Service/AppIntegrityService.php
  src/setup/routes/setup.php
Labels: bug

#6793 version is now 5.5.0
  demo/ChurchCRM-Database.sql
  package-lock.json
  package.json
  src/composer.json
  src/composer.lock
  src/mysql/upgrade.json
Labels: build

#6794 Bug: Fix backup download of the files
  src/api/routes/system/system-database.php
Labels: bug
