Repository ChurchCRM/CRM, pull requests merged in 2024-03, with the labels that each got.

#6898 Upgrade deps
  docker/cypress.config.ts
  package-lock.json
  package.json
  src/ChurchCRM/dto/OpenLPNotification.php
  src/ChurchCRM/dto/Photo.php
  src/EventEditor.php
  src/composer.lock
Labels: Package Dependencies, javascript, php

#6900 Build/5.6.0 - Build / Version
  demo/ChurchCRM-Database.sql
  package-lock.json
  package.json
  src/composer.json
  src/composer.lock
  src/mysql/upgrade.json
Labels: build, development

#6867 update updates to use propel orm
  propel/schema.xml
  src/BatchWinnerEntry.php
  src/CSVImport.php
  src/CanvassEditor.php
  src/CartToFamily.php
  src/ChurchCRM/Service/FinancialService.php
  src/ChurchCRM/Service/GroupService.php
  src/ConvertIndividualToFamily.php
  src/DonatedItemEditor.php
  src/EditEventTypes.php
  src/EventEditor.php
  src/FamilyEditor.php
  src/FundRaiserEditor.php
  src/ListEvents.php
  src/ManageEnvelopes.php
  src/PledgeEditor.php
  src/PropertyEditor.php
  src/UserEditor.php
  src/VolunteerOpportunityEditor.php
  src/WhyCameEditor.php
Labels: Security, Platform: Database, Code Smell, php

#6904 better application version check (hopefully remove usage of composer.json in prod)
  src/ChurchCRM/Service/SystemService.php
Labels: Code Smell, php

#6896 Update upgrade process to support churchinfo 1.3.1
  src/ChurchCRM/Service/SystemService.php
  src/mysql/upgrade.json
  src/mysql/upgrade/2.0.0.sql
  src/mysql/upgrade/2.10.0.sql
  src/mysql/upgrade/2.3.0.sql
  src/mysql/upgrade/2.4.0.sql
  src/mysql/upgrade/2.6.0.sql
  src/mysql/upgrade/2.7.0.sql
  src/mysql/upgrade/2.8.0.sql
  src/mysql/upgrade/2.9.0.sql
  src/mysql/upgrade/3.0.0.sql
  src/mysql/upgrade/4.0.0-TwoFactorAuth.sql
  src/mysql/upgrade/4.1.0-cleanup.sql
  src/mysql/upgrade/4.4.0-FB.sql
Labels: Installation / Upgrade

#6901 Starting 5.7.0
  demo/ChurchCRM-Database.sql
  package-lock.json
  package.json
  src/composer.json
  src/composer.lock
  src/mysql/upgrade.json
Labels: build

#6915 Bugfix for CSV Import error
  cypress/e2e/ui/admin/admin.csvimport.spec.js
  src/CSVImport.php
Labels: bug
