Repository ChurchCRM/CRM, pull requests merged in 2024-09, with the labels that each got.

#7126 Bug: Cannot delete some family information
  cypress/e2e/ui/people/standard.family.spec.js
  src/FamilyEditor.php
Labels: bug, Feature: Users

#7132 [Snyk] Upgrade i18next from 23.12.3 to 23.12.6
  package-lock.json
  package.json
Labels: Package Dependencies

#7137 Less `extract()`, addtl code cleanup, update deps
  package-lock.json
  package.json
  react/components/Events/EventPropertiesEditor.tsx
  src/ChurchCRM/Reports/PDF_Directory.php
  src/ChurchCRM/utils/MiscUtils.php
  src/ChurchCRM/utils/RedirectUtils.php
  src/FundRaiserEditor.php
  src/GroupPropsFormRowOps.php
  src/NoteDelete.php
  src/PrintView.php
  src/PropertyDelete.php
  src/Reports/ConfirmReport.php
  src/Reports/DirectoryReport.php
  src/Reports/PDFLabel.php
  src/composer.lock
  src/sundayschool/SundaySchoolClassView.php
  src/sundayschool/SundaySchoolDashboard.php
Labels: Platform: Database, Code Smell, Package Dependencies, javascript, php

#7135 make install script more generic + more type safety
  install/install.sh
  install/ubuntu.sh
  src/ChurchCRM/Reports/ChurchInfoReport.php
  src/ChurchCRM/Reports/PDF_Directory.php
  src/ChurchCRM/Service/GroupService.php
  src/ChurchCRM/dto/Cart.php
  src/DonatedItemReplicate.php
  src/DonationFundEditor.php
  src/FamilyCustomFieldsEditor.php
  src/FamilyEditor.php
  src/GroupPropsFormEditor.php
  src/GroupView.php
  src/Include/Functions.php
  src/OptionManager.php
  src/PersonCustomFieldsEditor.php
  src/PersonView.php
  src/PropertyAssign.php
  src/Reports/FamilyPledgeSummary.php
  src/bin/google-map/GoogleMap.php
  src/eGive.php
Labels: Installation / Upgrade, Code Smell, php

#7141 Configurable Person's Initial Format
  cypress/e2e/api/private/admin/private.admin.person.initial.style.setting.spec.js
  src/ChurchCRM/dto/Photo.php
  src/ChurchCRM/dto/SystemConfig.php
  src/ChurchCRM/model/ChurchCRM/Person.php
Labels: UI

#7146 Use iPersonNameStyle in GroupView
  src/ChurchCRM/model/ChurchCRM/Person.php
  src/skin/js/GroupView.js
Labels: UI

#7152 Make Family List Columns Configurable
  src/ChurchCRM/dto/SystemConfig.php
  src/v2/templates/people/family-list.php
Labels: Feature: Users, UI, php

#7155 Stronger PHP types, and update PHP devs
  src/ChurchCRM/Reports/PDF_Directory.php
  src/ChurchCRM/SQLUtils.php
  src/ChurchCRM/dto/Photo.php
  src/ChurchCRM/model/ChurchCRM/Person.php
  src/ChurchCRM/utils/RedirectUtils.php
  src/Include/alphaAPI.js
  src/PeopleDashboard.php
  src/api/routes/people/people-families.php
  src/api/routes/people/people-person.php
  src/api/routes/people/people-properties.php
  src/api/routes/system/system-database.php
  src/bin/google-map/GoogleMap.php
  src/composer.json
  src/composer.lock
  src/v2/routes/people.php
  src/v2/routes/user.php
  src/v2/templates/cart/cartempty.php
  src/v2/templates/people/family-view.php
Labels: Code Smell, Package Dependencies, php

#7158 initialize $sRowClass so AlternateRowStyle works
  src/QuerySQL.php
  src/QueryView.php
Labels: bug, php

#7159 Order by most recent events on checkin
  src/CartToGroup.php
  src/Checkin.php
  src/ChurchCRM/Config/Menu/Menu.php
  src/ChurchCRM/Service/DashboardService.php
  src/ChurchCRM/Slim/Middleware/EventsMiddleware.php
  src/Reports/ClassAttendance.php
  src/Reports/ClassList.php
  src/Reports/EnvelopeReport.php
  src/Reports/PhotoBook.php
  src/api/routes/calendar/events.php
  src/api/routes/people/people-groups.php
  src/mysql/upgrade/3.0.0.php
  src/v2/routes/root.php
Labels: Feature: Events / Calendar, php

#7160 fix typos and inaccurate filenames
  package-lock.json
  package.json
  src/ChurchCRM/Reports/PdfAddressReport.php
  src/ChurchCRM/Reports/PdfAttendance.php
  src/ChurchCRM/Reports/PdfCertificatesReport.php
  src/ChurchCRM/Reports/PdfDepositReport.php
  src/ChurchCRM/Reports/PdfDirectory.php
  src/ChurchCRM/Reports/PdfGroupDirectory.php
  src/ChurchCRM/Reports/PdfLabel.php
  src/ChurchCRM/Reports/PdfNewsletterLabels.php
  src/Reports/DirectoryReport.php
  src/Reports/GroupReport.php
  src/skin/js/PersonView.js
Labels: Code Smell, javascript, php

#7163 phpcs cleanup
  src/FamilyEditor.php
  src/bin/google-map/GoogleMap.php
  src/bin/google-map/JSMin.php
  src/phpcs.xml.dist
  src/rector.php
  src/v2/templates/people/person-list.php
Labels: Code Smell, php

#7164 attempt to resolve reported http 500s in ManageEnvelopes and DonationFundEditor
  cypress/e2e/ui/finance/finance.deposits.spec.js
  src/DonationFundEditor.php
  src/ManageEnvelopes.php
Labels: bug, php

#7167 Updated MailChimp API key URLs to the new link
  src/ChurchCRM/dto/SystemConfig.php
  src/mysql/upgrade/2.0.0.sql
Labels: Documentation, Feature: Emails, php

#7169 Bug fix: Fix DataTable pageLength value
  src/Include/Header-function.php
Labels: bug, UI

#7168 Bug fix: Number of Groups in Group list doesn't match with Groups cou…
  src/GroupList.php
  src/PeopleDashboard.php
  src/v2/routes/root.php
Labels: bug, UI
