Repository ChurchCRM/CRM, pull requests merged in 2024-04, with the labels that each got.

#6923 fix family editor to save wedding date
  cypress/e2e/ui/people/standard.family.spec.js
  src/FamilyEditor.php
Labels: bug, Feature: Users, Integration Testing, php

#6921 swap sass implementations since node-sass has been deprecated for a while
  Gruntfile.js
  package-lock.json
  package.json
Labels: Package Dependencies, javascript

#6922 Fix 2FA QR code generation
  cypress/e2e/ui/admin/admin.csvimport.spec.js
  cypress/e2e/ui/events/standard.calendar.spec.js
  cypress/e2e/ui/guest/guest.family.reg.spec.js
  cypress/e2e/ui/people/filter-by-dropdown-choice.spec.js
  cypress/e2e/ui/people/standard.person.profile.spec.js
  cypress/e2e/ui/user/standard.user.password.spec.js
  docker/Config.php
  react/components/UserSecurity/UserTwoFactorEnrollment.tsx
  src/api/routes/users/user-current.php
Labels: bug, Integration Testing, Authentication / Authorization, php

#6924 Fix family properties loading issue
  cypress/e2e/ui/people/standard.cart.spec.js
  src/ChurchCRM/Service/AppIntegrityService.php
  src/skin/js/FamilyView.js
  src/v2/templates/people/family-view.php
Labels: bug, javascript, php

#6927 remove usage of flot and have chartjs be only charting library
  Gruntfile.js
  src/sundayschool/SundaySchoolClassView.php
Labels: Feature: Sunday School, Code Smell, javascript

#6930 Locale: India (Hindi & Tamil), Japanese, and China (zh_CN) Flag
  locale/JSONKeys/hi_IN.json
  locale/JSONKeys/ja.json
  locale/JSONKeys/ta_IN.json
  src/locale/locales.json
  src/locale/textdomain/hi_IN/LC_MESSAGES/messages.mo
  src/locale/textdomain/hi_IN/LC_MESSAGES/messages.po
  src/locale/textdomain/ja/LC_MESSAGES/messages.mo
  src/locale/textdomain/ja/LC_MESSAGES/messages.po
  src/locale/textdomain/ta_IN/LC_MESSAGES/messages.mo
  src/locale/textdomain/ta_IN/LC_MESSAGES/messages.po
Labels: Localization

#6902 Update composer Libs
  src/composer.json
  src/composer.lock
Labels: Package Dependencies, php

#6933 Bug: User Locale Selection and Flag
  src/ChurchCRM/Dashboard/CurrentLocaleMetadata.php
  src/locale/locales.json
  src/skin/js/CRMJSOM.js
  src/skin/js/user.js
  src/v2/templates/user/user.php
Labels: Localization

#6929 Locale Cleanup
  Gruntfile.js
  src/Include/Footer.php
Labels: Localization

#6935 Bug people/verify page has strange header/title
  docker/Dockerfile.churchcrm-apache-php8-dev-debian
  docker/Dockerfile.churchcrm-apache-php8-test-debian
  src/v2/templates/people/people-verify-view.php
Labels: Localization

#6934 System Upgrade UI updates
  src/SystemDBUpdate.php
  src/UpgradeCRM.php
Labels: UI, Installation / Upgrade

#6940 [Snyk] Upgrade react-datepicker from 6.2.0 to 6.6.0
  package-lock.json
  package.json
Labels: Package Dependencies, javascript

#6948 Add missing if for Events stat box on dashboard
  src/v2/routes/root.php
  src/v2/templates/root/dashboard.php
Labels: bug, UI

#6952 handle situation where shell_exec does not exist
  src/ChurchCRM/Service/AppIntegrityService.php
Labels: bug, php

#6946 Harmonise icons
  src/ChurchCRM/Config/Menu/Menu.php
  src/PeopleDashboard.php
  src/sundayschool/SundaySchoolDashboard.php
  src/v2/templates/cart/cartfunctions.php
  src/v2/templates/people/family-view.php
Labels: UI

#6962 Edit for consistant menu rendering
  src/ChurchCRM/view/MenuRenderer.php
Labels: UI, php

#6961 Started 5.8.0
  demo/ChurchCRM-Database.sql
  package-lock.json
  package.json
  src/composer.json
  src/composer.lock
  src/mysql/upgrade.json
  src/mysql/upgrade/5.8.0.sql
Labels: build

#6956 Add support for default Zip Code
  src/ChurchCRM/dto/SystemConfig.php
  src/FamilyEditor.php
  src/PersonEditor.php
  src/external/templates/registration/family-register.php
Labels: enhancement, Feature: Users, php

#6959 Make middle name searchable
  cypress/e2e/ui/people/standard.person.search.spec.js
  src/ChurchCRM/Search/PersonSearchResultProvider.php
  src/ChurchCRM/Service/PersonService.php
  src/api/routes/people/people-persons.php
Labels: Feature: Users, Feature: Search, php

#6957 Delete unreferenced code
  demo/ChurchCRM-Database.sql
  propel/schema.xml
  src/mysql/install/Install.sql
  src/mysql/upgrade/5.8.0.sql
Labels: Platform: Database, Code Smell

#6969 Redirect utils cleanup
  src/BackupDatabase.php
  src/CSVImport.php
  src/ChurchCRM/Authentication/AuthenticationManager.php
  src/ChurchCRM/utils/RedirectUtils.php
  src/ConvertIndividualToFamily.php
  src/DepositSlipEditor.php
  src/DonationFundEditor.php
  src/EditEventTypes.php
  src/FamilyCustomFieldsEditor.php
  src/FamilyCustomFieldsRowOps.php
  src/FamilyEditor.php
  src/FindDepositSlip.php
  src/GroupPropsFormRowOps.php
  src/OptionManager.php
  src/OptionManagerRowOps.php
  src/PersonCustomFieldsEditor.php
  src/PersonCustomFieldsRowOps.php
  src/PersonEditor.php
  src/PledgeEditor.php
  src/PropertyAssign.php
  src/PropertyEditor.php
  src/PropertyList.php
  src/PropertyUnassign.php
  src/QuerySQL.php
  src/QueryView.php
  src/ReminderReport.php
  src/Reports/AdvancedDeposit.php
  src/Reports/EnvelopeReport.php
  src/Reports/FamilyPledgeSummary.php
  src/Reports/PledgeSummary.php
  src/Reports/PrintDeposit.php
  src/Reports/ReminderReport.php
  src/Reports/TaxReport.php
  src/Reports/ZeroGivers.php
  src/RestoreDatabase.php
  src/SelectDelete.php
  src/SettingsUser.php
  src/SystemDBUpdate.php
  src/SystemSettings.php
  src/UpgradeCRM.php
  src/UserEditor.php
  src/UserList.php
  src/VolunteerOpportunityEditor.php
Labels: Code Smell
