Repository ChurchCRM/CRM, pull requests merged in 2024-01, with the labels that each got.

#6796 fix javascript calls to delete routes which currently don't work
  react/components/Events/ExistingEvent.tsx
  src/skin/js/CRMJSOM.js
  src/skin/js/FamilyView.js
  src/skin/js/GroupEditor.js
  src/skin/js/users.js
  src/v2/templates/cart/cartlisting.php
Labels: bug, javascript

#6802 [Snyk] Upgrade i18next from 23.7.8 to 23.7.9
  package-lock.json
  package.json
Labels: Package Dependencies

#6799 Fixed render of photos
  src/ChurchCRM/Slim/SlimUtils.php
Labels: bug

#6800 fix system updater to prevent TypeError
  src/ChurchCRM/dto/ChurchCRMReleaseManager.php
  src/api/dependencies.php
  src/api/routes/people/people-properties.php
  src/api/routes/public/public-user.php
  src/api/routes/system/system-database.php
  src/api/routes/system/system-upgrade.php
  src/api/routes/users/user.php
  src/v2/routes/user-current.php
Labels: bug, Installation / Upgrade, php

#6801 update as many js deps as possible
  package-lock.json
  package.json
Labels: build, javascript

#6779 convert tedious sql strings to safer orm operations
  src/CSVImport.php
  src/CanvassEditor.php
  src/CartToEvent.php
  src/ChurchCRM/Service/FinancialService.php
  src/ChurchCRM/Service/GroupService.php
  src/ConvertIndividualToFamily.php
  src/DonatedItemEditor.php
  src/FamilyCustomFieldsEditor.php
  src/FamilyEditor.php
  src/FundRaiserEditor.php
  src/GroupPropsFormEditor.php
  src/OptionManager.php
  src/PersonCustomFieldsEditor.php
  src/PersonEditor.php
  src/PledgeEditor.php
  src/PropertyEditor.php
  src/SettingsIndividual.php
  src/UserEditor.php
  src/VolunteerOpportunityEditor.php
  src/WhyCameEditor.php
Labels: Security, Platform: Database, Code Smell, php

#6804 update grunt-poeditor-gd grunt i18next
  package-lock.json
  package.json
Labels: build, Package Dependencies, javascript

#6806 fix error when checking emptiness of $Year
  src/ChurchCRM/utils/MiscUtils.php
Labels: bug, php

#6805 $interval should never be false if iRemotePhotoCacheDuration is invalid
  src/ChurchCRM/dto/Photo.php
Labels: bug, Photos, php

#6809 update phpstan and rector, run rector after updating
  src/ChurchCRM/Authentication/AuthenticationManager.php
  src/ChurchCRM/Authentication/AuthenticationProviders/LocalAuthentication.php
  src/ChurchCRM/Reports/PDF_Directory.php
  src/ChurchCRM/Service/SystemService.php
  src/ChurchCRM/dto/SystemURLs.php
  src/ChurchCRM/model/ChurchCRM/Person.php
  src/ChurchCRM/model/ChurchCRM/User.php
  src/ChurchCRM/utils/GeoUtils.php
  src/ChurchCRM/utils/InputUtils.php
  src/ChurchCRM/utils/LoggerUtils.php
  src/Include/Functions.php
  src/composer.json
  src/composer.lock
  src/rector.php
Labels: Code Smell, Package Dependencies, php

#6816 improve bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/build-test-package.yml
Labels: development, Documentation

#6814 get group view datatable to workable state
  src/api/routes/people/people-groups.php
  src/skin/js/GroupView.js
Labels: bug, Feature: Groups, API, php

#6821 set up dependency injection container for setup routes
  src/setup/index.php
Labels: bug, Installation / Upgrade, php

#6822 update as many dependencies as possible
  package-lock.json
  package.json
  src/ChurchCRM/Authentication/AuthenticationManager.php
  src/composer.json
  src/composer.lock
Labels: Package Dependencies, javascript, php

#6825 [custom field] mb_substr($fieldInfo->name, 1) string must be cast to int to do arithmetic
  src/FamilyCustomFieldsEditor.php
  src/PersonCustomFieldsEditor.php
Labels: bug, php

#6831 run alter commands only if able to run alter commands, ignore inserts if already inserted
  src/mysql/upgrade/2.0.0.sql
  src/mysql/upgrade/2.1.0.sql
  src/mysql/upgrade/2.1.3.sql
  src/mysql/upgrade/2.10.0.sql
  src/mysql/upgrade/2.3.0.sql
  src/mysql/upgrade/2.4.0.sql
  src/mysql/upgrade/2.5.0.sql
  src/mysql/upgrade/2.6.0.sql
  src/mysql/upgrade/2.7.0.sql
  src/mysql/upgrade/2.8.0.sql
  src/mysql/upgrade/2.9.0.sql
  src/mysql/upgrade/3.0.0.php
  src/mysql/upgrade/3.0.0.sql
  src/mysql/upgrade/3.4.0.sql
  src/mysql/upgrade/4.0.0-TwoFactorAuth.sql
  src/mysql/upgrade/4.1.0-cleanup.sql
  src/mysql/upgrade/4.2.0-perms.sql
  src/mysql/upgrade/4.3.0-usersettings.sql
  src/mysql/upgrade/4.4.0-FB.sql
Labels: Installation / Upgrade, Platform: Database, Code Smell
