Repository ChurchCRM/CRM, pull requests merged in 2024-02, with the labels that each got.

#6860 add more null checks when determining age of person
  src/ChurchCRM/model/ChurchCRM/Person.php
  src/v2/templates/people/family-view.php
Labels: bug, Feature: Users, php

#6832 1 feature request migrate hardcoded states dropdown
  src/ChurchCRM/data/Countries.php
  src/Include/StateDropDown.php
Labels: bug, Code Smell, php

#6864 update all deps
  package-lock.json
  package.json
  react/calendar-event-editor.tsx
  react/components/Events/EventPropertiesEditor.tsx
  react/components/Events/ExistingEvent.tsx
  src/EventEditor.php
  src/composer.json
  src/composer.lock
Labels: Code Smell, Package Dependencies, javascript, php

#6865 Show group role in GroupView.php
  src/Checkin.php
  src/GroupView.php
  src/skin/js/BackupDatabase.js
  src/skin/js/CRMJSOM.js
  src/skin/js/Footer.js
  src/skin/js/GroupView.js
  src/skin/js/PledgeEditor.js
  src/skin/js/SystemSettings.js
Labels: bug, Feature: Groups, javascript

#6857 adding xdebug to the test docker just run url with ?XDEBUG_SESSION_START=1 and wait on port 9003
  docker/.env
  docker/Dockerfile.churchcrm-apache-php8-dev-debian
  docker/docker-compose.dev-php8-apache.yaml
Labels: development, Platform: Docker

#6881 Handle adjusting BasePath, utilizing discovered rootPath
  src/api/index.php
  src/external/index.php
  src/kiosk/index.php
  src/session/index.php
  src/setup/index.php
  src/v2/index.php
Labels: bug, Backend System, php

#6883 Add South African provinces
  src/locale/states/za.json
Labels: Localization

#6894 Add clearing of Lat/Long to verify null values are functional
  cypress/e2e/ui/people/standard.family.spec.js
Labels: Integration Testing

#6888 Have GetAge() return -1 if Year is null, and fix return type
  cypress/data/test_import.csv
  cypress/e2e/ui/admin/admin.csvimport.spec.js
  src/CSVImport.php
Labels: bug, Feature: Data Import / Export
