Repository ChurchCRM/CRM, pull requests merged in 2024-06, with the labels that each got.

#7062 Fixed typos in codebase reported by `codespell`
  .codespellrc
  CHANGELOG.md
  postman/Collections/Private API.postman_collection.json
  postman/Collections/Public API.postman_collection.json
  src/CanvassAutomation.php
  src/ChurchCRM/Authentication/AuthenticationProviders/LocalAuthentication.php
  src/ChurchCRM/Backup/RestoreJob.php
  src/ChurchCRM/Emails/BaseEmail.php
  src/ChurchCRM/Reports/PDF_Label.php
  src/ChurchCRM/dto/ChurchCRMReleaseManager.php
  src/ChurchCRM/dto/ConfigItem.php
  src/ChurchCRM/model/ChurchCRM/User.php
  src/ChurchCRM/utils/GeoUtils.php
  src/ChurchCRM/utils/LoggerUtils.php
  src/EventNames.php
  src/Include/domLib.js
  src/PledgeEditor.php
  src/api/routes/people/people-groups.php
  src/mysql/install/Install.sql
  src/mysql/upgrade/2.9.0.sql
  src/skin/js/Calendar.js
  src/skin/js/GroupEditor.js
  src/skin/js/Kiosk.js
  src/skin/scss/_spacing.scss
  src/templates/email/BaseEmail.html.twig
Labels: Code Smell

#7063 Sanitize family registration form data
  src/api/routes/public/public-register.php
Labels: enhancement, Security, Feature: Self-Register / Verify, php

#7067 Drop unused canvass feature
  src/CanvassAutomation.php
  src/CanvassEditor.php
  src/ChurchCRM/Reports/PDF_CanvassBriefingReport.php
  src/ChurchCRM/model/ChurchCRM/CanvassData.php
  src/ChurchCRM/model/ChurchCRM/CanvassDataQuery.php
  src/ChurchCRM/model/ChurchCRM/User.php
  src/FamilyEditor.php
  src/Include/CanvassUtilities.php
  src/Reports/CanvassQuestions.txt
  src/Reports/CanvassReports.php
  src/UserEditor.php
  src/mysql/install/Install.sql
  src/mysql/upgrade/5.9.0.sql
  src/propel/schema.xml
  src/v2/templates/people/family-view.php
  src/v2/templates/user/user.php
Labels: Code Smell, php

#7059 Fix various issues on shared hosting
  Gruntfile.js
  src/ChurchCRM/Service/AppIntegrityService.php
  src/v2/templates/admin/debug.php
Labels: Code Smell, php

#7073 [Snyk] Upgrade flag-icons from 7.2.1 to 7.2.2
  package-lock.json
  package.json
Labels: Package Dependencies

#7072 [Snyk] Upgrade fullcalendar from 6.1.11 to 6.1.14
  package-lock.json
  package.json
Labels: Package Dependencies

#7077 Started 5.9.0
  demo/ChurchCRM-Database.sql
  package-lock.json
  package.json
  src/composer.json
  src/composer.lock
  src/mysql/upgrade.json
Labels: development

#7079 Added Swahili Locale
  locale/JSONKeys/sw.json
  src/locale/locales.json
  src/locale/textdomain/sw/LC_MESSAGES/messages.mo
  src/locale/textdomain/sw/LC_MESSAGES/messages.po
Labels: Localization

#7081 [hotfix] fix deletion to reference actual column name
  src/mysql/upgrade/5.9.0.sql
Labels: bug, P0 - Urgent, Platform: Database

#7085 Delete Canvass Automation menu entry
  src/ChurchCRM/Config/Menu/Menu.php
Labels: bug, php
