Repository ChurchCRM/CRM, pull requests merged in 2024-05, with the labels that each got.

#6968 Mustache to twig
  src/ChurchCRM/Emails/BaseEmail.php
  src/ChurchCRM/Emails/users/BaseUserEmail.php
  src/composer.json
  src/composer.lock
  src/views/email/BaseEmail.html.twig
Labels: development, Package Dependencies

#6979 fix types for SystemCalendar classes
  src/ChurchCRM/Interfaces/SystemCalendar.php
  src/ChurchCRM/SystemCalendars/AnniversariesCalendar.php
  src/ChurchCRM/SystemCalendars/BirthdaysCalendar.php
  src/ChurchCRM/SystemCalendars/HolidayCalendar.php
  src/ChurchCRM/SystemCalendars/SystemCalendar.php
  src/ChurchCRM/SystemCalendars/UnpinnedEvents.php
  src/ChurchCRM/dto/SystemCalendars.php
  src/api/routes/calendar/calendar.php
Labels: Code Smell, php

#6978 Fix issues uncovered from original `mustache-to-twig` branch
  package.json
  src/ChurchCRM/Authentication/AuthenticationProviders/LocalAuthentication.php
  src/ChurchCRM/Emails/BaseEmail.php
  src/ChurchCRM/Emails/notifications/NewPersonOrFamilyEmail.php
  src/ChurchCRM/Emails/notifications/NotificationEmail.php
  src/ChurchCRM/Emails/users/AccountDeletedEmail.php
  src/ChurchCRM/Emails/users/BaseUserEmail.php
  src/ChurchCRM/Emails/users/LockedEmail.php
  src/ChurchCRM/Emails/users/NewAccountEmail.php
  src/ChurchCRM/Emails/users/PasswordChangeEmail.php
  src/ChurchCRM/Emails/users/ResetPasswordEmail.php
  src/ChurchCRM/Emails/users/ResetPasswordTokenEmail.php
  src/ChurchCRM/Emails/users/UnlockedEmail.php
  src/ChurchCRM/Emails/verify/FamilyVerificationEmail.php
  src/ChurchCRM/dto/Notification.php
  src/ChurchCRM/model/ChurchCRM/Family.php
  src/ChurchCRM/model/ChurchCRM/Person.php
  src/FamilyEditor.php
  src/PersonEditor.php
  src/Reports/ConfirmReportEmail.php
  src/UserEditor.php
  src/api/routes/users/user-admin.php
  src/composer.json
  src/composer.lock
  src/session/routes/password-reset.php
Labels: Code Smell, php

#6970 API: Person/Numbers not used
  postman/Collections/Private API.postman_collection.json
  src/ChurchCRM/dto/MenuEventsCount.php
  src/api/routes/people/people-families.php
  src/api/routes/people/people-persons.php
Labels: API, Code Smell

#6995 Bug: Birthday Calendar works for only current year. #6991
  src/ChurchCRM/SystemCalendars/BirthdaysCalendar.php
Labels: bug

#6989 Cleanup post data in EventAttendance
  src/EventAttendance.php
Labels: Security

#6965 Fixed bug with Invalid Deposit ID lookup.
  cypress/e2e/ui/finance/finance.deposits.spec.js
  src/DepositSlipEditor.php
Labels: bug

#6999 [Snyk] Upgrade react-datepicker from 6.6.0 to 6.7.0
  package-lock.json
  package.json
Labels: Package Dependencies

#6998 [Snyk] Upgrade i18next from 23.11.1 to 23.11.2
  package-lock.json
  package.json
Labels: Package Dependencies

#7006 run prettier on javascript code
  Gruntfile.js
  scripts/startNewRelease.js
  src/skin/js/CRMJSOM.js
  src/skin/js/Calendar.js
  src/skin/js/DepositSlipEditor.js
  src/skin/js/FamilyRegister.js
  src/skin/js/FindDepositSlip.js
  src/skin/js/GroupEditor.js
  src/skin/js/GroupView.js
  src/skin/js/user.js
Labels: development, Code Smell, javascript

#7008 Fix date string formatting to match the rest
  src/ChurchCRM/dto/SystemConfig.php
Labels: UI, php

#6997 Bug: Age is not correct in Birthday Calendar. #6990
  src/ChurchCRM/SystemCalendars/BirthdaysCalendar.php
  src/ChurchCRM/model/ChurchCRM/Person.php
Labels: bug, Feature: Events / Calendar, Feature: Users, php

#7005 fix `location` redirect query parameter on login page
  src/ChurchCRM/Authentication/AuthenticationManager.php
  src/ChurchCRM/Authentication/AuthenticationResult.php
  src/ChurchCRM/Authentication/Requests/APITokenAuthenticationRequest.php
  src/ChurchCRM/Authentication/Requests/LocalTwoFactorTokenRequest.php
  src/ChurchCRM/Authentication/Requests/LocalUsernamePasswordRequest.php
  src/session/index.php
Labels: bug, Authentication / Authorization, php

#7009 Inactive people by class
  cypress/e2e/ui/people/standard.people.filterbyclassification.spec.js
  src/ChurchCRM/dto/SystemConfig.php
  src/OptionManager.php
  src/OptionManagerRowOps.php
  src/v2/routes/people.php
Labels: enhancement, Feature: Users, php

#7012 run prettier on cypress js files
  cypress/e2e/ui/events/standard.events.spec.js
  cypress/e2e/ui/people/standard.family.spec.js
  cypress/e2e/ui/people/standard.people.filterbyclassification.spec.js
Labels: Code Smell, javascript

#7015 fix php deprecation notice in Countries
  src/ChurchCRM/data/Countries.php
Labels: Code Smell, php

#7018 update all github actions to latest tagged version to resolve deprecations
  .github/workflows/build-test-package.yml
  .github/workflows/poeditor.yml
  .github/workflows/stale.yml
Labels: build, Code Smell

#7014 sanitize the CurrentFundraiser provided from query params, use ORM to get fundraiser data
  src/Reports/FRBidSheets.php
  src/Reports/FRCatalog.php
  src/Reports/FRCertificates.php
Labels: Security, Code Smell, php

#7013 sanitize the familyId provided from query params, use ORM to get family data
  src/Reports/ConfirmReport.php
Labels: Security, Code Smell, php

#7023 [Snyk] Upgrade react-datepicker from 6.8.0 to 6.9.0
  package-lock.json
  package.json
Labels: Package Dependencies

#6960 cleanup extract-db-locale-terms.php script
  locale/extract-db-locale-terms.php
Labels: Code Smell, php

#7016 update frontend deps
  cypress/support/api-commands.js
  package-lock.json
  package.json
Labels: Package Dependencies, javascript

#7034 add update person tests to ensure functionality
  cypress/e2e/ui/people/standard.person.new.spec.js
  src/Include/Functions.php
Labels: Integration Testing

#7052 ensure PSR request does not get overwritten when logging in
  src/session/index.php
Labels: bug, Authentication / Authorization, php

#7054 prevent deprecation warning in InputUtils
  src/ChurchCRM/utils/InputUtils.php
Labels: Code Smell, php

#7055 Fix assorted security issues
  src/CSVImport.php
  src/ChurchCRM/Config/Menu/Menu.php
  src/ChurchCRM/view/MenuRenderer.php
  src/EventAttendance.php
  src/GroupList.php
  src/skin/js/GroupList.js
  src/skin/js/PledgeEditor.js
  src/skin/js/setup.js
Labels: Security, javascript, php

#7051 Propel developer experience improvement
  cypress/e2e/ui/people/standard.family.spec.js
  package.json
  src/composer.json
  src/composer.lock
  src/propel/propel.php
  src/propel/propel.php.dist
  src/propel/schema.xml
Labels: Platform: Database, Code Smell, php

#7047 Replace rejected character with acceptable one
  src/ChurchCRM/dto/SystemConfig.php
Labels: bug, enhancement, Localization

#7046 Base64 encoded image has artifacts
  src/v2/templates/people/family-view.php
Labels: bug, enhancement, Photos, Code Smell, php

#7053 PersonEditor cleanup pt1
  src/PersonEditor.php
Labels: Feature: Users, Security, Code Smell, php
